#AddSiteControlWrapper
{
    padding: 10px;
}

.AddSiteInputElem
{
    width: 180px;
    background: white;
}

#SiteTypeDropDown
{
    width: 185px;
    background: white;
}


#SaveSiteButton
{
    width: 187px;
    background: #465C71;
    font-weight: bold;
    font-size: 120%;
    font-family: helvetica;
    color: white;
    height: 40px;
    display: block;
}

#siteText
{
    width: 180px;
}

#map
{
    min-height: 400px;
    min-width: 800px; /*width: 100%; */
    border: solid 1px black;
    color: white;
}

#addSite, #viewSite
{
    border: solid 1px red;
    width: 400px;
    min-height: 400px;
    background: #3A4F63;
    color: White;
    position: absolute;
    top: 0px;
    right: 12px;
    z-index: 150;
    display: none;
}

#viewSiteList
{
    background: #3A4F63;
    display: block;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 15px;
}

#ViewSiteContent
{
    width: 700px;
    position: absolute;
    left: 350px;
    top: 0px;
    text-align: justify;
    background: white;
}

#ViewSiteType
{
    width: 250px;
}

.ListGridAll
{
    //color: ;
    font-weight: bold;
    background: white;
}

.HeaderStyle
{
    background: black;
    color: white;
}